# Cache e dependências do Node.js (Frontend)
Frontend/node_modules/
Frontend/npm-debug.log*

# Arquivos de compilação do Java (UserService e EmailService)
**/target/
**/*.class

# Arquivos de configuração da IDE (VS Code / IntelliJ)
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos do sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Scripts ou relatórios temporários de build
temp_report.html